@model ConsultorioMedico.Models.Secretarium

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Eliminar Secretaria</h4>
<h3>¿Está seguro de eliminar el siguiente registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Codigo Secretaria: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodSecre)
        </dd>
        <dt class = "col-sm-2">
            DUI:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuiSecre)
        </dd>
        <dt class = "col-sm-2">
            Nombres: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomSecre)
        </dd>
        <dt class = "col-sm-2">
           Apellidos:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApeSecre)
        </dd>
        <dt class = "col-sm-2">
            Dirección:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirSecre)
        </dd>
        <dt class = "col-sm-2">
            Teléfono: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelSecre)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
        <dt class = "col-sm-2">
            Usuario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdSecretaria" />
        <input type="hidden" asp-for="DirSecre" class="form-control" />
        <input type="hidden" asp-for="TelSecre" class="form-control" />
        <input type="hidden" asp-for="Estado" class="form-control" />
        
        <input type="hidden" asp-for="ApeSecre" class="form-control" />
        
        <input type="hidden" asp-for="NomSecre" class="form-control" />
        
        <input type="hidden" asp-for="DuiSecre" class="form-control" />
        <input type="hidden" asp-for="CodSecre" class="form-control" />

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <button asp-action="Index" class="btn btn-outline-dark">Volver</button>
        </div>
    </form>
</div>
