@model ConsultorioMedico.Models.Secretarium

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles Secretaria</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            DUI: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuiSecre)
        </dd>
        <dt class = "col-sm-2">
            Nombres: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomSecre)
        </dd>
        <dt class = "col-sm-2">
            Apellidos: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApeSecre)
        </dd>
        <dt class = "col-sm-2">
            Dirección: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirSecre)
        </dd>
        <dt class = "col-sm-2">
            Teléfono:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelSecre)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
        <dt class = "col-sm-2">
            Usuario:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Volver</a>
</div>
