@model IEnumerable<ConsultorioMedico.Models.Receta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrar Recetas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código Recetas
            </th>
            <th>
                Medicamento
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Preescripcion
            </th>
            <th>
               Estado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    if (item.Estado != 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodRecetas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medicamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prescripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td class="d-flex justify-content-evenly">
                        <a asp-action="Edit" asp-route-id="@item.IdRecetas" class="btn btn-outline-warning">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdRecetas" class="btn btn-outline-dark">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.IdRecetas" class="btn btn-outline-danger">Borrar</a>
                    </td>
                </tr>
            }
        }
       
    </tbody>
</table>
