@model ConsultorioMedico.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Eliminar Usuario</h4>
<h3>¿Está seguro de eliminar el siguiente registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Usuario: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUser)
        </dd>
        <dt class = "col-sm-2">
            Password: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassUser)
        </dd>
        <dt class="col-sm-2">
            Pregunta:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPreguntaNavigation.IdPreguntas)
        </dd>
        <dt class = "col-sm-2">
            Respuesta: 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RespUser)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
      
        <dt class = "col-sm-2">
            Rol:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.IdRol)
        </dd>
    </dl>

    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdUsuario" />
        <input type="hidden" asp-for="NomUser" class="form-control" />
        <input type="hidden" asp-for="PassUser" class="form-control" />
        <input type="hidden" asp-for="Estado" class="form-control" />

        <input type="hidden" asp-for="RespUser" class="form-control" />

        <input type="hidden" asp-for="IdRol" class="form-control" />

        <input type="hidden" asp-for="IdPregunta" class="form-control" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <button asp-action="Index" class="btn btn-outline-dark">Volver</button>
        </div>
    </form>
</div>
