@model IEnumerable<ConsultorioMedico.Models.Especialidad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrar Especialidades</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código Especialidad
            </th>
            <th>
                Especialidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad1)
            </td>
                <td class="d-flex justify-content-evenly">
                    <a asp-action="Edit" asp-route-id="@item.IdEspecialidad" class="btn btn-outline-warning">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.IdEspecialidad" class="btn btn-outline-dark">Detalles</a> 
                    <a asp-action="Delete" asp-route-id="@item.IdEspecialidad" class="btn btn-outline-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
