@model IEnumerable<ConsultorioMedico.Models.Medico>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrar Médicos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código Médico
            </th>
            <th>
                DUI
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Dirección
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Estado
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Usuario
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuiMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApeMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelMedico)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IdEspecialidadNavigation.IdEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.IdUsuario)
            </td>
 
            <td class="d-flex justify-content-evenly">
                    <a asp-action="Edit" asp-route-id="@item.IdMedico" class="btn btn-outline-warning">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.IdMedico" class="btn btn-outline-dark">Detalles</a> 
                    <a asp-action="Delete" asp-route-id="@item.IdMedico" class="btn btn-outline-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
